$theme-primary: #125B9A;
$theme-secondary: #0B8494;
$theme-tertiary: #f05a66;
$theme-accent: #FFBE98;
$shadow-gray: #c0cfdf6b;
$text-dark: #003285;
$form-elem-padding: 5px 10px;
$form-elem-radius: 3px;